 @media only screen and (orientation: portrait) {
     #canvas {
         display: none;
     }

     .fullScreen {
         display: none;
     }

     .settingsImgDiv {
         display: none !important;
     }

     .warning-message {
         display: flex !important;
     }

     .canvasDiv {
         display: none;
     }
 }

 @media only screen and (max-width: 1200px) {
     .fullScreenIcon {
         display: none;
     }

     .splashScreenSpaceBarIcon {
         display: none;
     }

     .splashScreenStartButton {
         animation: pulse-animation 1.5s infinite ease-in-out;
     }

     .instructionsContainer {
         flex-direction: row;
     }

     .instructionsImg {
         width: 450px;
     }
 }

 @media only screen and (max-width: 1000px) {
     body {
         overflow: hidden;
     }

     .fullScreen {
         justify-content: center;
     }

     .h1SharkieHeading {
         display: none;
     }

     .splashScreenSettingIcons {
         width: 70px;
     }

     .endScreen {
         top: 0%;
         width: 100%;
         height: 100%;
     }

     .endScreenButtonContainer {
         bottom: 40%;
     }

     .impressumtext h2 {
         font-size: 20px;
     }

     .impressumtext p {
         font-size: 15px;
     }

     .splashScreenStartButton {
         width: 220px;
     }

     .touchButtonsWidth {
        width: 50px;
        height: 43px;
     }
 }


 @media only screen and (max-width: 900px) {
     .splashScreenStartButton {
         width: 200px;
     }

     .impressumContainer h4 {
         font-size: 15px;
     }
 }

 @media only screen and (max-width: 740px) {
     canvas {
         width: 100%;
     }

     .h1SharkieHeading {
         display: none;
     }

     .splashScreenStartButton {
         width: 160px;
     }
 }

 @media only screen and (max-width: 330px) {
     .warning-message h3 {
         font-size: 20px;
     }
 }

 @media only screen and (max-height: 480px) {
     canvas {
         height: 80vh;
     }

     body {
         height: 100vh;
     }

     .splashScreen {
         width: 100%;
         height: 100%;
     }

     .instructionsImg {
         width: 400px;
     }

     .fullScreenIcon {
         width: 200px;
     }

     .startButtonContainer {
         margin-top: 70px;
         margin-bottom: 100px;
     }

 }

 /* pointer: coarse in the end of modeling*/
 @media (pointer: coarse) {
     .mobileButtonsImgsDiv {
         display: flex;
     }

     .touchButtonsLeft {
         display: flex !important;
     }

     .touchButtonsRight {
         display: flex !important;
     }

     .instructionsImg {
         display: none;
     }
 }

 @media only screen and (max-height: 420px) {

     .splashScreenSettingIcons {
         width: 60px;
     }

     .touchButtonsWidth {
         width: 40px;
         height: 33px;
         border-radius: 15px;
     }

     .touchButtonsLeft {
         bottom: 60px;
         left: 25px;
     }

     .touchButtonsRight {
         bottom: 60px;
         right: 80px;
     }
 }