@keyframes pulse-animation {
    0% {
        transform: scale(1);
        /* Originalgröße */
    }

    50% {
        transform: scale(1.1);
        /* 10% größer */
    }

    100% {
        transform: scale(1);
        /* Zurück zur Originalgröße */
    }
}

.splashScreen {
    position: absolute;
    width: 720px;
    height: 480px;
    background-image: url('./img/3.Background/Mesa de trabajo 1.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.endScreen {
    top: 0;
    position: absolute;
    width: 720px;
    height: 480px;
    background-image: url('./img/6.Botones/Try again/Mesa de trabajo 1.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.splashScreenSettingIcons {
    width: 80px;
    z-index: 2;
}

.gearIcon {
    transition: all 0.5s;
}

.homeIcon {
    transition: all 0.2s;
}

.homeIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.gearIcon:hover {
    transform: rotate(120deg);
    cursor: pointer;
}

.soundIcon {
    transition: all 0.2s;
}

.soundIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.splashScreen .splashScreenBackgroundImg {
    width: 100%;
}

.startButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 150px;
}

.splashScreenStartButton {
    display: flex;
    justify-content: center;
    width: 250px;
    transition: all 0.2s;
}

.splashScreenStartButton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.splashScreenSpaceBarIcon {
    display: flex;
    justify-content: center;
    width: 200px;
    animation: pulse-animation 1.5s infinite ease-in-out;
}

.endScreenButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    position: absolute;
    bottom: 100px;
}

.settingsImgDiv {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 8px;
    z-index: 3;
}

.settingsImgDivInGame {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    gap: 4px;
    right: 10px;
    top: 10px;
    width: 250px;
    z-index: 4;
}

.selector {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.instructionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
}

.mb-top-50 {
    margin-top: 50px;
}

.instructionsImg {
    width: 500px;
}

.controllerMobile {
    width: 400px;
    display: none;
}

.fullScreenIcon {
    transition: all 0.2s;
    width: 300px;
}

.fullScreenIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.impressumContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
    transition: all 0.2s;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.impressumContainer p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(70, 190, 239);
    border: solid orange;
    font-size: 25px;
}

.impressumContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.impressumContainer h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.impressumSection {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15vh;
}

.impressumtext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}