@font-face {
  font-family: "bigBlue";
  src: 
    url("fonts/BigPartyC2-Blue.ttf") format("truetype")
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
    background-image: url('./img/backgroundWater.jpg');
    background-size: cover;
    height: 100vh;
    font-family: bigBlue, Arial, Helvetica, sans-serif;
    font-size: 45px;
}

canvas {
    background-color: black;
}