* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('./img/backgroundWater.jpg');
}


@font-face {
    font-family: "bigBlue";
    src:
        url("fonts/BigPartyC2-Blue.woff") format("woff")
}

.d_none {
    display: none !important;
}

.fullScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: clamp(100vh, 1000px, 1270px);
    font-family: bigBlue, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

canvas {
    display: block;
    background-color: black;
}

h1 {
    font-size: 85px;
    top: 200px;
    margin-bottom: 10px;
    text-shadow: -200px 1000px 8px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.warning-message {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(55 25 244 / 0.95);;
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: none;
}

.warning-message h3 {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
}

@media (orientation: portrait) {
    #canvas {
        display: none;
    }
    .fullScreen {
        display: none;
    }

    .settingsImgDiv {
        display: none !important;
    }

    .warning-message {
        display: flex !important;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        overflow: hidden;
    }
    .fullScreen {
       justify-content: center;
    }
    .h1SharkieHeading {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    canvas {
        width: 100%;
    }
    .h1SharkieHeading {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .splashScreen {
        height: 100vh;
    }
}